<header>
  <div class="container">
      <div class="header-data">
          <div class="forum-bar">
              <h2>Social<span>Network</span></h2>
          </div>
          <div class="login_register">
              <ul>
                  <li>
                      <a href="#" title=""><i class="fa fa-upload"></i> Upload</a>
                  </li>
                  <li>
                      <a href="#" title=""><i class="fa fa-bell"></i></a>
                  </li>
                  <li>
                      <div class="usr_img_avatar"><i class="fa fa-arrow-circle-down"></i></div>
                      <label>Eko</label><br />
                      <span>Tristiyadi</span>
                  </li>
              </ul>
          </div>
          <div class="search-bar st2">
              <form>
                  <input type="text" name="search" placeholder="Search..." />
                  <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
      </div>
  </div>
</header>
