<div class="widget widget-user">
  <h3 class="title-wd">Channels <span style="font-size: small; float: right;">Top Channels of the Week</span></h3>
  <ul>
      <li *ngFor="let num of [1,2,3,4];index as i">
          <div class="row posts-section">
              <div  class="col-md-5 post-bar" style="flex: 0 0 45% !important; max-width: 45% !important; height: 100px;">
                  <div style="display: flex; align-items: flex-end; width: 100%; height: 100%;"><i class="fa fa-upload"></i> Documents</div>
              </div>
              <div clas="col-md-2" style="flex: 0 0 5% !important; max-width: 5% !important;"></div>
              <div class="col-md-5 post-bar" style="flex: 0 0 45% !important; max-width: 45% !important; height: 100px;">
                  <div style="display: flex; align-items: flex-end; width: 100%; height: 100%;"><i class="fa fa-upload"></i> Documents</div>
              </div>
              <div clas="col-md-12" style="flex: 0 0 5% !important; max-width: 5% !important;"></div>
          </div>
      </li>
  </ul>
</div>
